body {
  background-color: yellow; }

td {
  width: 10px;
  height: 10px;
  border: solid;
  border-width: 1px;
  border-color: black; }

.highlight {
  background-color: black; }

.passhighlight {
  background-color: #BA4A00; }

.desthighlight {
  background-color: blue; }

#taxi {
  font-weight: bold; }

#pass {
  font-weight: bold;
  color: #BA4A00; }

#dest {
  font-weight: bold;
  color: blue; }

.yellow {
  background-color: yellow; }

.green {
  background-color: green; }

.pickCar {
  display: none; }

.gameOver {
  display: none; }
